# Welcome to this Kernel

<a id='table_of_contents'></a>
# Table of contents

[1. How to import pandas and check the version?](#q1)

[2. How to create a series from a list, numpy array and dict?](#q2)

[3. How to convert the index of a series into a column of a dataframe?](#q3)

[4. How to combine many series to form a dataframe?](#q4)

[5. How to assign name to the series’ index?](#q5)

[6. How to get the items of series A not present in series B?](#q6)

[7. How to get the items not common to both series A and series B?](#q7)

[8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?](#q8)

[9. How to get frequency counts of unique items of a series?](#q9)

[10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?](#q10)

[11. How to bin a numeric series to 10 groups of equal size?](#q11)

[12. How to convert a numpy array to a dataframe of given shape?](#q12)

[13. How to find the positions of numbers that are multiples of 3 from a series?](#q13)

[14. How to extract items at given positions from a series?](#q14)

[15. How to stack two series vertically and horizontally ?](#q15)

[16. How to get the positions of items of series A in another series B?](#q16)

[17. How to compute the mean squared error on a truth and predicted series?](#q17)

[18. How to convert the first character of each element in a series to uppercase?](#q18)

[19. How to calculate the number of characters in each word in a series?](#q19)

[20. How to compute difference of differences between consequtive numbers of a series?](#q20)

[21. How to convert a series of date-strings to a timeseries?](#q21)

[22. How to get the day of month, week number, day of year and day of week from a series of date strings?](#q22)

[23. How to convert year-month string to dates corresponding to the 4th day of the month?](#q23)

[24. How to filter words that contain atleast 2 vowels from a series?](#q24)

[25. How to filter valid emails from a series?](#q25)

[26. How to get the mean of a series grouped by another series?](#q26)

[27. How to compute the euclidean distance between two series?](#q27)

[28. How to find all the local maxima (or peaks) in a numeric series?](#q28)

[29. How to replace missing spaces in a string with the least frequent character?](#q29)

[30. How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?](#q30)

[31. How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?](#q31)

[32. How to compute the autocorrelations of a numeric series?](#q32)

[33. How to import only every nth row from a csv file to create a dataframe?](#q33)

[34. How to change column values when importing csv to a dataframe?](#q34)

[35. How to create a dataframe with rows as strides from a given series?](#q35)

[36. How to import only specified columns from a csv file?](#q36)

[37. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.](#q37)

[38. How to extract the row and column number of a particular cell with given criterion?](#q38)

[39. How to rename a specific columns in a dataframe?](#q39)

[40. How to check if a dataframe has any missing values?](#q40)

[41. How to count the number of missing values in each column?](#q41)

[42. How to replace missing values of multiple numeric columns with the mean?](#q42)

[43. How to use apply function on existing columns with global variables as additional arguments?](#q43)

[44. How to select a specific column from a dataframe as a dataframe instead of a series?](#q44)

[45. How to change the order of columns of a dataframe?](#q45)

[46. How to set the number of rows and columns displayed in the output?](#q46)

[47. How to format or suppress scientific notations in a pandas dataframe?](#q47)

[48. How to format all the values in a dataframe as percentages?](#q48)

[49. How to filter every nth row in a dataframe?](#q49)

[50. How to create a primary key index by combining relevant columns?](#q50)

[51. How to get the row number of the nth largest value in a column?](#q51)

[52. How to find the position of the nth largest value greater than a given value?](#q52)

[53. How to get the last n rows of a dataframe with row sum > 100?](#q53)

[54. How to find and cap outliers from a series or dataframe column?](#q54)

[55. How to reshape a dataframe to the largest possible square after removing the negative values?](#q55)

[56. How to swap two rows of a dataframe?](#q56)

[57. How to reverse the rows of a dataframe?](#q57)

[58. How to create one-hot encodings of a categorical variable (dummy variables)?](#q58)

[59. Which column contains the highest number of row-wise maximum values?](#q59)

[60. How to create a new column that contains the row number of nearest column by euclidean distance?](#q60)

[61. How to know the maximum possible correlation value of each column against other columns?](#q61)

[62. How to create a column containing the minimum by maximum of each row?](#q62)

[63. How to create a column that contains the penultimate value in each row?](#q63)

[64. How to normalize all columns in a dataframe?](#q64)

[65. How to compute the correlation of each row with the suceeding row?](#q65)

[66. How to replace both the diagonals of dataframe with 0?](#q66)

[67. How to get the particular group of a groupby dataframe by key?](#q67)

[68. How to get the n’th largest value of a column when grouped by another column?](#q68)

[69. How to compute grouped mean on pandas dataframe and keep the grouped column as another column (not index)?](#q69)

[70. How to join two dataframes by 2 columns so they have only the common rows?](#q70)

[71. How to remove rows from a dataframe that are present in another dataframe?](#q71)

[72. How to get the positions where values of two columns match?](#q72)

[73. How to create lags and leads of a column in a dataframe?](#q73)

[74. How to get the frequency of unique values in the entire dataframe?](#q74)

[75. How to split a text column into two separate columns?](#q75)

In [1]:
# Allow several prints in one cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Pandas exercise

<a id='q1'></a>
**1. How to import pandas and check the version?**

[Go back to the table of contents](#table_of_contents)

In [2]:
import pandas as pd
print(pd.__version__)

# Print all pandas dependencies
print(pd.show_versions(as_json=True))

2.0.3
{
  "system": {
    "commit": "0f437949513225922d851e9581723d82120684a6",
    "python": "3.8.10.final.0",
    "python-bits": 64,
    "OS": "Windows",
    "OS-release": "10",
    "Version": "10.0.22631",
    "machine": "AMD64",
    "processor": "Intel64 Family 6 Model 186 Stepping 2, GenuineIntel",
    "byteorder": "little",
    "LC_ALL": null,
    "LANG": null,
    "LOCALE": {
      "language-code": "English_United States",
      "encoding": "1252"
    }
  },
  "dependencies": {
    "pandas": "2.0.3",
    "numpy": "1.24.4",
    "pytz": "2024.1",
    "dateutil": "2.9.0.post0",
    "setuptools": "56.0.0",
    "pip": "21.1.1",
    "Cython": null,
    "pytest": null,
    "hypothesis": null,
    "sphinx": null,
    "blosc": null,
    "feather": null,
    "xlsxwriter": null,
    "lxml.etree": null,
    "html5lib": null,
    "pymysql": null,
    "psycopg2": null,
    "jinja2": "3.1.4",
    "IPython": "8.12.3",
    "pandas_datareader": null,
    "bs4": "4.12.3",
    "bottleneck": null,
    "brotli": null,
    "fastparquet": null,
    "fsspec": null,
    "gcsfs": null,
    "matplotlib": null,
    "numba": null,
    "numexpr": null,
    "odfpy": null,
    "openpyxl": null,
    "pandas_gbq": null,
    "pyarrow": null,
    "pyreadstat": null,
    "pyxlsb": null,
    "s3fs": null,
    "scipy": null,
    "snappy": null,
    "sqlalchemy": null,
    "tables": null,
    "tabulate": null,
    "xarray": null,
    "xlrd": null,
    "zstandard": null,
    "tzdata": "2024.1",
    "qtpy": null,
    "pyqt5": null
  }
}None

<a id = 'q2'></a>

**2. How to create a series from a list, numpy array and dict?**

Create a pandas series from each of the items below: a list, numpy and a dictionary

[Go back to the table of contents](#table_of_contents)

In [3]:
# Input
import numpy as np
a_list = list("abcdefg")
numpy_array = np.arange(1, 10)
dictionary = {"A":  0, "B":1, "C":2, "D":3, "E":5}
a_list

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [4]:
series1 = pd.Series(a_list)
print(series1)
series2 = pd.Series(numpy_array)
print(series2)
series3 = pd.Series(dictionary)
print(series3)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32
A    0
B    1
C    2
D    3
E    5
dtype: int64

<a id = 'q3'></a>
**3. How to convert the index of a series into a column of a dataframe?**

Convert the series ser into a dataframe with its index as another column on the dataframe.

[Go back to the table of contents](#table_of_contents)

In [5]:
# input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
print(ser[:5])

a    0
b    1
c    2
e    3
d    4
dtype: int32

In [6]:
# solution 1 using DataFrame
ser_df = pd.DataFrame(ser)
ser_df.reset_index()

# using pandas to_frame()
ser_df = ser.to_frame().reset_index()
ser_df

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

<a id = 'q4'></a>
**4. How to combine many series to form a dataframe?**

Combine ser1 and ser2 to form a dataframe.

[Go back to the table of contents](#table_of_contents)

In [7]:
# input
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [8]:
# using pandas DataFrame
ser_df = pd.DataFrame(ser1, ser2).reset_index()
ser_df.head()
# using pandas DataFrame with a dictionary, gives a specific name to the column
ser_df = pd.DataFrame({"col1":ser1, "col2":ser2})
ser_df.head(5)
# using pandas concat
ser_df = pd.concat([ser1, ser2], axis = 1)
ser_df.head()

   index  0
0      0  a
1      1  b
2      2  c
3      3  e
4      4  d

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

<a id = 'q5'></a>
**5. How to assign name to the series’ index?**

Give a name to the series ser calling it ‘alphabets’.

[Go back to the table of contents](#table_of_contents)

In [9]:
# input
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [10]:
# using series rename method
ser.rename("alphabets")
# using series attribute
ser.name = "other_name"
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: other_name, dtype: object

<a id = 'q6'></a>
**6. How to get the items of series A not present in series B?**

Get all items of ser1 and ser2 not common to both.

[Go back to the table of contents](#table_of_contents)

In [11]:
# input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [12]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

<a id = 'q7'></a>
**7. How to get the items not common to both series A and series B?**

Get all items of ser1 and ser2 not common to both.

[Go back to the table of contents](#table_of_contents)

In [13]:
# input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [86]:
# using pandas
a_not_b = ser1[~ser1.isin(ser2)]
b_not_a = ser2[~ser2.isin(ser1)]
                          
pd.concat([b_not_a,a_not_b], ignore_index = True)

# using numpy union and intersection
ser_u = pd.Series(np.union1d(ser1, ser2))
ser_i = pd.Series(np.intersect1d(ser1, ser2))
ser_u[~ser_u.isin(ser_i)]

0     9
1     6
2     5
3    12
4     8
dtype: int64

2     5
3     6
4     8
5     9
7    12
dtype: int64

<a id = 'q8'></a>
**8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?**

Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

[Go back to the table of contents](#table_of_contents)

In [16]:
# input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

In [17]:
# using pandas
ser.describe()

# or using numpy
np.percentile(ser, q = [0, 25, 50, 75, 100])

count    25.000000
mean     10.435437
std       4.253118
min       1.251173
25%       7.709865
50%      10.922593
75%      13.363604
max      18.094908
dtype: float64

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

<a id = 'q9'></a>
**9. How to get frequency counts of unique items of a series?**

Calculate the frequency counts of each unique value ser.

[Go back to the table of contents](#table_of_contents)

In [18]:
# input
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [19]:
ser.value_counts()

b    7
f    5
c    4
d    4
g    3
h    3
e    2
a    2
Name: count, dtype: int64

<a id = 'q10'></a>
**10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?**

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

[Go back to the table of contents](#table_of_contents)

In [20]:
# input
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser

RandomState(MT19937) at 0x236B2DF6140

0     4
1     3
2     4
3     2
4     4
5     3
6     2
7     1
8     1
9     3
10    3
11    3
dtype: int32

In [21]:
ser.value_counts()
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser
# we do value_counts to see the repetitions for each value, then we do ~ser.isin value_counts, filter by index the first 2 and = "Other renames the values"

3    5
4    3
2    2
1    2
Name: count, dtype: int64

0         4
1         3
2         4
3     Other
4         4
5         3
6     Other
7     Other
8     Other
9         3
10        3
11        3
dtype: object

<a id = 'q11'></a>
**11. How to bin a numeric series to 10 groups of equal size?**

Bin the series ser into 10 equal deciles and replace the values with the bin name.

[Go back to the table of contents](#table_of_contents)

In [22]:
# input
ser = pd.Series(np.random.random(20))
ser

0     0.936820
1     0.076334
2     0.795512
3     0.627759
4     0.292670
5     0.587356
6     0.205260
7     0.731555
8     0.760528
9     0.981997
10    0.801067
11    0.569047
12    0.407692
13    0.778483
14    0.821929
15    0.748758
16    0.454515
17    0.939886
18    0.981704
19    0.999238
dtype: float64

In [23]:
pd.qcut(ser, q = 10)
# we can also pass labels
pd.qcut(ser, q = [0, .10, .20, .30, .40, .50, .60, .70, .80, .90, 1], labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0      (0.807, 0.937]
1     (0.0753, 0.284]
2      (0.785, 0.807]
3       (0.582, 0.69]
4      (0.284, 0.445]
5       (0.582, 0.69]
6     (0.0753, 0.284]
7       (0.69, 0.755]
8      (0.755, 0.785]
9      (0.982, 0.999]
10     (0.785, 0.807]
11     (0.445, 0.582]
12     (0.284, 0.445]
13     (0.755, 0.785]
14     (0.807, 0.937]
15      (0.69, 0.755]
16     (0.445, 0.582]
17     (0.937, 0.982]
18     (0.937, 0.982]
19     (0.982, 0.999]
dtype: category
Categories (10, interval[float64, right]): [(0.0753, 0.284] < (0.284, 0.445] < (0.445, 0.582] < (0.582, 0.69] ... (0.785, 0.807] < (0.807, 0.937] < (0.937, 0.982] < (0.982, 0.999]]

0    8th
1    1st
2    7th
3    4th
4    2nd
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

<a id = 'q12'></a>
**12. How to convert a numpy array to a dataframe of given shape? (L1)**

Reshape the series ser into a dataframe with 7 rows and 5 columns

[Go back to the table of contents](#table_of_contents)

In [24]:
# input
ser = pd.Series(np.random.randint(1, 10, 35))
ser

0     8
1     6
2     3
3     2
4     7
5     7
6     9
7     4
8     9
9     2
10    1
11    1
12    6
13    1
14    6
15    7
16    2
17    3
18    5
19    7
20    3
21    7
22    3
23    2
24    6
25    5
26    1
27    7
28    1
29    3
30    3
31    1
32    2
33    3
34    7
dtype: int32

In [25]:
# using numpy
pd.DataFrame(np.array(ser).reshape(7, 5))

# using only pandas
pd.DataFrame(ser.values.reshape(7, 5))

   0  1  2  3  4
0  8  6  3  2  7
1  7  9  4  9  2
2  1  1  6  1  6
3  7  2  3  5  7
4  3  7  3  2  6
5  5  1  7  1  3
6  3  1  2  3  7

   0  1  2  3  4
0  8  6  3  2  7
1  7  9  4  9  2
2  1  1  6  1  6
3  7  2  3  5  7
4  3  7  3  2  6
5  5  1  7  1  3
6  3  1  2  3  7

<a id = 'q13'></a>
**13. How to find the positions of numbers that are multiples of 3 from a series?**

Find the positions of numbers that are multiples of 3 from ser.

[Go back to the table of contents](#table_of_contents)

In [26]:
# input

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, 10))
ser

RandomState(MT19937) at 0x236B2CCDD40

0    3
1    3
2    2
3    3
4    2
5    1
6    4
7    3
8    4
9    4
dtype: int32

In [27]:
# using the where clause
ser.where(lambda x: x%3 == 0).dropna()

# using numpy and reshape to get a pandas series
#pd.Series(np.argwhere(ser%3 == 0).reshape(4))
np.argwhere(ser%3 == 0)

0    3.0
1    3.0
3    3.0
7    3.0
dtype: float64

array([[0],
       [1],
       [3],
       [7]], dtype=int64)

<a id = 'q14'></a>
**14. How to extract items at given positions from a series**

From ser, extract the items at positions in list pos.

[Go back to the table of contents](#table_of_contents)

In [28]:
# input

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [29]:
# using loc
ser.loc[pos]

# using series take
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

0     a
4     e
8     i
14    o
20    u
dtype: object

<a id = 'q15'></a>

**15. How to stack two series vertically and horizontally ?**

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

[Go back to the table of contents](#table_of_contents)

In [30]:
# input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [32]:
# vertical
# or using pandas concat and axis = 0
pd.concat([ser1, ser2], axis = 0)

# horizontal
pd.concat([ser1, ser2], axis = 1)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

<a id = 'q16'></a>
**16. How to get the positions of items of series A in another series B?**

Get the positions of items of ser2 in ser1 as a list.

[Go back to the table of contents](#table_of_contents)

In [33]:
# input
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [34]:
# get's the index, but it's sorts the index
list(ser1[ser1.isin(ser2)].index)

# using numpy where
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

# using pandas Index and get location
[pd.Index(ser1).get_loc(i) for i in ser2]

[0, 4, 5, 8]

[5, 4, 0, 8]

[5, 4, 0, 8]

<a id = 'q17'></a>
**17. How to compute the mean squared error on a truth and predicted series?**

Compute the mean squared error of truth and pred series.

[Go back to the table of contents](#table_of_contents)

In [35]:
# input
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [87]:
# BAD, don't use it
(np.mean([(truth_i - pred_i)**2 for truth_i, pred_i in zip(truth, pred)]))

# using numpy
np.mean((truth-pred)**2)

# using sklear metrics
from sklearn.metrics import mean_squared_error
mean_squared_error(truth, pred)

0.2862296543504283

0.2862296543504283

0.2862296543504283

<a id = 'q18'></a>

**18. How to convert the first character of each element in a series to uppercase?**

Change the first character of each word to upper case in each word of ser.

[Go back to the table of contents](#table_of_contents)

In [37]:
# input
ser = pd.Series(['just', 'a', 'random', 'list'])
ser

0      just
1         a
2    random
3      list
dtype: object

In [38]:
# using python string method title() Assumes we only encounter string in the list
[i.title() for i in ser]

# using lambda
ser.map(lambda x: x.title())

# other solution
ser.map(lambda x: x[0].upper() + x[1:])

['Just', 'A', 'Random', 'List']

0      Just
1         A
2    Random
3      List
dtype: object

0      Just
1         A
2    Random
3      List
dtype: object

<a id = 'q19'></a>

**19. How to calculate the number of characters in each word in a series?**

[Go back to the table of contents](#table_of_contents)

In [39]:
# input
ser = pd.Series(['just', 'a', 'random', 'list'])

In [40]:
# using list comprehension
[len(i) for i in ser]

# using series map
ser.map(len)

# using series apply
ser.apply(len)

[4, 1, 6, 4]

0    4
1    1
2    6
3    4
dtype: int64

0    4
1    1
2    6
3    4
dtype: int64

<a id = 'q20'></a>
**20. How to compute difference of differences between consequtive numbers of a series?**

Difference of differences between the consequtive numbers of ser.

[Go back to the table of contents](#table_of_contents)

In [41]:
# input
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

# Desired Output
# [nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
# [nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [42]:
# using pandas diff()
ser.diff(periods = 1).tolist()
ser.diff(periods = 1).diff(periods = 1).tolist()

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]

[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

<a id = 'q21'></a>

**21. How to convert a series of date-strings to a timeseries?**

[Go back to the table of contents](#table_of_contents)

In [43]:
# input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])


'''
Desired Output

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
'''

'\nDesired Output\n\n0   2010-01-01 00:00:00\n1   2011-02-02 00:00:00\n2   2012-03-03 00:00:00\n3   2013-04-04 00:00:00\n4   2014-05-05 00:00:00\n5   2015-06-06 12:20:00\n'

In [44]:
# using pands to_datetime
pd.to_datetime(ser)

# using dateutil parse
from dateutil.parser import parse
ser.map(lambda x: parse(x))

ValueError: time data "02-02-2011" doesn't match format "%d %b %Y", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

<a id = 'q22'></a>
**22. How to get the day of month, week number, day of year and day of week from a series of date strings?**

Get the day of month, week number, day of year and day of week from ser.

[Go back to the table of contents](#table_of_contents)

In [45]:
# input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

'''
Desired output

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']
'''

"\nDesired output\n\nDate:  [1, 2, 3, 4, 5, 6]\nWeek number:  [53, 5, 9, 14, 19, 23]\nDay num of year:  [1, 33, 63, 94, 125, 157]\nDay of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']\n"

In [46]:
# day
pd.to_datetime(ser).dt.day.to_list()
# week
pd.to_datetime(ser).dt.week.to_list()
# another method
pd.to_datetime(ser).dt.weekofyear.to_list()
# day of year
pd.to_datetime(ser).dt.dayofyear.to_list()
# day of week in words
week_dict = {0:"Monday", 1:"Tuesday", 2:"Wednesday", 3:"Thursday", 4:"Friday", 5:"Saturday", 6:"Sunday"}
pd.to_datetime(ser).dt.dayofweek.map(week_dict).to_list()
# another method
pd.to_datetime(ser).dt.weekday_name.to_list()

ValueError: time data "02-02-2011" doesn't match format "%d %b %Y", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

<a id = 'q23'></a>

**23. How to convert year-month string to dates corresponding to the 4th day of the month?**

Change ser to dates that start with 4th of the respective months.

[Go back to the table of contents](#table_of_contents)

In [47]:
# input
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

'''
Desired Output

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

'''

'\nDesired Output\n\n0   2010-01-04\n1   2011-02-04\n2   2012-03-04\ndtype: datetime64[ns]\n\n'

In [48]:
# solution using parser
from dateutil.parser import parse
ser.map(lambda x: parse('04 ' + x))

# another solution

from dateutil.parser import parse
# Parse the date
ser_ts = ser.map(lambda x: parse(x))

# Construct date string with date as 4
ser_datestr = ser_ts.dt.year.astype('str') + '-' + ser_ts.dt.month.astype('str') + '-' + '04'

# Format it.
[parse(i).strftime('%Y-%m-%d') for i in ser_datestr]

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

['2010-01-04', '2011-02-04', '2012-03-04']

<a id = 'q24'></a>

**24. How to filter words that contain atleast 2 vowels from a series?**

From ser, extract words that contain atleast 2 vowels.

[Go back to the table of contents](#table_of_contents)

In [49]:
# input
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

'''
Desired Output


0     Apple
1    Orange
4     Money
dtype: object
'''

'\nDesired Output\n\n\n0     Apple\n1    Orange\n4     Money\ndtype: object\n'

In [50]:
# using nested loops
vowels = list("aeiou")
list_ = []
for w in ser:
    c = 0
    for l in list(w.lower()):
        if l in vowels:
            c += 1
    if c >= 2:
        print(w)
        list_.append(w)

ser[ser.isin(list_)]

# another solution using counter

from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

Apple
Orange
Money

0     Apple
1    Orange
4     Money
dtype: object

0     Apple
1    Orange
4     Money
dtype: object

<a id = 'q25'></a>

**25. How to filter valid emails from a series?**

Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

[Go back to the table of contents](#table_of_contents)

In [51]:
# input
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

'''
Desired Output

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object
'''

'\nDesired Output\n\n1    rameses@egypt.com\n2            matt@t.co\n3    narendra@modi.com\ndtype: object\n'

In [52]:
# using powerful regex
import re
re_ = re.compile(pattern)
emails[emails.str.contains(pat = re_, regex = True)]

# other solutions
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.map(lambda x: bool(re.match(pattern, x)))
emails[mask]

# using str.findall
emails.str.findall(pattern, flags=re.IGNORECASE)

# using list comprehension
[x[0] for x in [re.findall(pattern, email) for email in emails] if len(x) > 0]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

0                     []
1    [rameses@egypt.com]
2            [matt@t.co]
3    [narendra@modi.com]
dtype: object

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']

<a id = 'q26'></a>

**26. How to get the mean of a series grouped by another series?**

Compute the mean of weights of each fruit.

[Go back to the table of contents](#table_of_contents)

In [53]:
# doesn't incluide the upper limit
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
fruit
weights = pd.Series(np.linspace(1, 10, 10))
weights
#print(weights.tolist())
#print(fruit.tolist())

'''
Desired output

# values can change due to randomness
apple     6.0
banana    4.0
carrot    5.8
dtype: float64
'''

0    banana
1     apple
2    carrot
3    banana
4    carrot
5    carrot
6     apple
7     apple
8    carrot
9    banana
dtype: object

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

'\nDesired output\n\n# values can change due to randomness\napple     6.0\nbanana    4.0\ncarrot    5.8\ndtype: float64\n'

In [54]:
# using pandas groupby
df = pd.concat([fruit, weights], axis = 1)
df
df.groupby(0).mean()

# use one list to calculate a kpi from another
weights.groupby(fruit).mean()

        0     1
0  banana   1.0
1   apple   2.0
2  carrot   3.0
3  banana   4.0
4  carrot   5.0
5  carrot   6.0
6   apple   7.0
7   apple   8.0
8  carrot   9.0
9  banana  10.0

               1
0
apple   5.666667
banana  5.000000
carrot  5.750000

apple     5.666667
banana    5.000000
carrot    5.750000
dtype: float64

<a id = 'q27'></a>

**27. How to compute the euclidean distance between two series?**

Compute the [euclidean distance](https://en.wikipedia.org/wiki/Euclidean_distance) between series (points) p and q, without using a packaged formula.

[Go back to the table of contents](#table_of_contents)

In [55]:
# Input
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
'''
Desired Output

18.165
'''

'\nDesired Output\n\n18.165\n'

In [56]:
# using list comprehension
suma = np.sqrt(np.sum([(p - q)**2 for p, q in zip(p, q)]))
suma

# using series one to one operation
sum((p - q)**2)**.5

# using numpy
np.linalg.norm(p-q)

18.16590212458495

18.16590212458495

18.16590212458495

<a id = 'q28'></a>

**28. How to find all the local maxima (or peaks) in a numeric series?**

[Go back to the table of contents](#table_of_contents)

In [57]:
# input
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

'''
Desired output

array([1, 5, 7])
'''

'\nDesired output\n\narray([1, 5, 7])\n'

In [58]:
# using pandas shift
local_max = ser[(ser.shift(1) < ser) & (ser.shift(-1) < ser)]
local_max.index

# using numpy
dd = np.diff(np.sign(np.diff(ser)))
dd
peak_locs = np.where(dd == -2)[0] + 1
peak_locs

Index([1, 5, 7], dtype='int64')

array([-2,  2,  0,  0, -2,  2, -2], dtype=int64)

array([1, 5, 7], dtype=int64)

<a id = 'q29'></a>

**29. How to replace missing spaces in a string with the least frequent character?**

Replace the spaces in my_str with the least frequent character.

[Go back to the table of contents](#table_of_contents)

In [59]:
# input
my_str = 'dbc deb abed ggade'

'''
Desired Output

'dbccdebcabedcggade'  # least frequent is 'c'
'''

"\nDesired Output\n\n'dbccdebcabedcggade'  # least frequent is 'c'\n"

In [60]:
# using Counter
from collections import Counter
my_str_ = my_str
Counter_ = Counter(list(my_str_.replace(" ", "")))
Counter_
minimum = min(Counter_, key = Counter_.get)

print(my_str.replace(" ", minimum))

# using pandas
ser = pd.Series(list(my_str.replace(" ", "")))
ser.value_counts()
minimum = list(ser.value_counts().index)[-1]
minimum
print(my_str.replace(" ", minimum))

Counter({'d': 4, 'b': 3, 'c': 1, 'e': 3, 'a': 2, 'g': 2})

dbccdebcabedcggade

d    4
b    3
e    3
a    2
g    2
c    1
Name: count, dtype: int64

'c'

dbccdebcabedcggade

<a id = 'q30'></a>

**30. How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?**

[Go back to the table of contents](#table_of_contents)

In [61]:
'''
Desired Output
values can be random

2000-01-01    4
2000-01-08    1
2000-01-15    8
2000-01-22    4
2000-01-29    4
2000-02-05    2
2000-02-12    4
2000-02-19    9
2000-02-26    6
2000-03-04    6
'''

'\nDesired Output\nvalues can be random\n\n2000-01-01    4\n2000-01-08    1\n2000-01-15    8\n2000-01-22    4\n2000-01-29    4\n2000-02-05    2\n2000-02-12    4\n2000-02-19    9\n2000-02-26    6\n2000-03-04    6\n'

In [62]:
dti = pd.Series(pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
random_num = pd.Series([np.random.randint(1, 10) for i in range(10)])


df = pd.concat({"Time":dti, "Numbers":random_num}, axis = 1)
df

# for more about time series functionality 
# https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases

# another solution just using pandas Series
ser = pd.Series(np.random.randint(1,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
ser

        Time  Numbers
0 2000-01-01        9
1 2000-01-08        1
2 2000-01-15        9
3 2000-01-22        1
4 2000-01-29        2
5 2000-02-05        1
6 2000-02-12        3
7 2000-02-19        5
8 2000-02-26        1
9 2000-03-04        3

2000-01-01    4
2000-01-08    6
2000-01-15    6
2000-01-22    9
2000-01-29    6
2000-02-05    6
2000-02-12    8
2000-02-19    8
2000-02-26    4
2000-03-04    3
Freq: W-SAT, dtype: int32

<a id = 'q31'></a>

**31. How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?**

ser has missing dates and values. Make all missing dates appear and fill up with value from previous date.

[Go back to the table of contents](#table_of_contents)

In [63]:
# input
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

'''
Desired Output

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
'''

'\nDesired Output\n\n2000-01-01     1.0\n2000-01-02     1.0\n2000-01-03    10.0\n2000-01-04    10.0\n2000-01-05    10.0\n2000-01-06     3.0\n2000-01-07     3.0\n2000-01-08     NaN\n'

In [64]:
# Solution 1
# first let's fill the missing dates
indx = pd.date_range("2000-01-01", "2000-01-08")
# now let's reindex the series ser with the new index
# we have to reasing back to ser
ser = ser.reindex(indx)
# lastly let's populate the missing values
ser.fillna(method = "ffill")

# Solution 2
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
ser.resample('D').ffill()  # fill with previous value
ser.resample('D').bfill()  # fill with next value
ser.resample('D').bfill().ffill()  # fill next else prev value

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

2000-01-01     1.0
2000-01-02    10.0
2000-01-03    10.0
2000-01-04     3.0
2000-01-05     3.0
2000-01-06     3.0
2000-01-07     NaN
2000-01-08     NaN
Freq: D, dtype: float64

2000-01-01     1.0
2000-01-02    10.0
2000-01-03    10.0
2000-01-04     3.0
2000-01-05     3.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

<a id = 'q32'></a>

**32. How to compute the autocorrelations of a numeric series?**

Compute autocorrelations for the first 10 lags of ser. Find out which lag has the largest correlation.

[Go back to the table of contents](#table_of_contents)

In [65]:
# input
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

'''
Desired Output

# values will change due to randomness
[0.29999999999999999, -0.11, -0.17000000000000001, 0.46000000000000002, 0.28000000000000003, -0.040000000000000001, -0.37, 0.41999999999999998, 0.47999999999999998, 0.17999999999999999]
Lag having highest correlation:  9
'''

'\nDesired Output\n\n# values will change due to randomness\n[0.29999999999999999, -0.11, -0.17000000000000001, 0.46000000000000002, 0.28000000000000003, -0.040000000000000001, -0.37, 0.41999999999999998, 0.47999999999999998, 0.17999999999999999]\nLag having highest correlation:  9\n'

In [66]:
# using pandas autocorr
# ser.autocorr(lag = 10)

# solution using list comprehension
autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]
print(autocorrelations[1:])
print('Lag having highest correlation: ', np.argmax(np.abs(autocorrelations[1:]))+1)

[0.1, 0.25, 0.04, -0.18, 0.06, 0.09, 0.03, 0.04, 0.27, 0.04]
Lag having highest correlation:  9

<a id = 'q33'></a>

**33. How to import only every nth row from a csv file to create a dataframe?**

Import every 50th row of BostonHousing dataset as a dataframe.

[Go back to the table of contents](#table_of_contents)

In [67]:
# input
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [68]:
# data comes without headers, but we searched for it
names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']

# pure Python implementation
with open("/kaggle/input/boston-house-prices/housing.csv") as f:
    data = f.read()
    nth_rows = []
    for i, rows in enumerate(data.split("\n")):
        if i%50 == 0:
            nth_rows.append(rows)
            
# nth_rows is a list of strings separated by blank spaces " "
# the next list comprehension will do the trick

nth_rows[0]
data_ = [nth_rows[i].split() for i in range(len(nth_rows))]
df = pd.DataFrame(data_, columns=names)
df

# other solutions

# Solution 2: Use chunks and for-loop
# df = pd.read_csv("/kaggle/input/boston-house-prices/housing.csv", chunksize=50)
# df2 = pd.DataFrame()
# for chunk in df:
#     df2 = df2.append(chunk.iloc[0,:])
# df2

# Solution 3: Use chunks and list comprehension
# df = pd.read_csv("/kaggle/input/boston-house-prices/housing.csv", chunksize=50)
# df2 = pd.concat([chunk.iloc[0] for chunk in df], axis=1)
# df2 = df2.transpose()
# df2

FileNotFoundError: [Errno 2] No such file or directory: '/kaggle/input/boston-house-prices/housing.csv'

<a id = 'q34'></a>

**34. How to change column values when importing csv to a dataframe?**

Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.

[Go back to the table of contents](#table_of_contents)

In [69]:
# input
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [70]:
# first let's import using the previuos code and save as a normal csv

names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
with open("/kaggle/input/boston-house-prices/housing.csv") as f:
    data = f.read()
    nth_rows = []
    for i, rows in enumerate(data.split("\n")):
        nth_rows.append(rows)

data_ = [nth_rows[i].split() for i in range(len(nth_rows))]

df = pd.DataFrame(data_, columns=names)
df.head()
df.to_csv("housing_preprocessed.csv")
del df

FileNotFoundError: [Errno 2] No such file or directory: '/kaggle/input/boston-house-prices/housing.csv'

In [71]:
# now let's start importing as normal and use converters to convert the values
# skipfooter because we had the last rows with nan values and index_col to specify that the first column is the index
df = pd.read_csv("housing_preprocessed.csv",  index_col = 0, skipfooter=1,  converters = {"MEDV": lambda x: "HIGH" if float(x) >= 25 else "LOW"})
df

C:\Users\asatkut\AppData\Local\Temp\ipykernel_1424\511090984.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("housing_preprocessed.csv",  index_col = 0, skipfooter=1,  converters = {"MEDV": lambda x: "HIGH" if float(x) >= 25 else "LOW"})

FileNotFoundError: [Errno 2] No such file or directory: 'housing_preprocessed.csv'

<a id = 'q35'></a>

**35. How to create a dataframe with rows as strides from a given series?**

[Go back to the table of contents](#table_of_contents)

In [72]:
# input
L = pd.Series(range(15))

'''
Desired Output

array([[ 0,  1,  2,  3],
       [ 2,  3,  4,  5],
       [ 4,  5,  6,  7],
       [ 6,  7,  8,  9],
       [ 8,  9, 10, 11],
       [10, 11, 12, 13]])
'''

'\nDesired Output\n\narray([[ 0,  1,  2,  3],\n       [ 2,  3,  4,  5],\n       [ 4,  5,  6,  7],\n       [ 6,  7,  8,  9],\n       [ 8,  9, 10, 11],\n       [10, 11, 12, 13]])\n'

In [73]:
# using slicing
# let's generate a list of indexes we need to use
# outputs array([ 0,  2,  4,  6,  8, 10, 12, 14])
index_ = np.arange(0, 15, 2)
index_
my_list = []
for i in range(6):
    my_list.append(list(L[index_[i]:index_[i+2]]))
np.array(my_list)

# above code as list comprehension
np.array([L[index_[i]:index_[i+2]] for i in range(6)])

# another solution
def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    return np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]])

gen_strides(L, stride_len=2, window_len=4)

array([ 0,  2,  4,  6,  8, 10, 12, 14])

array([[ 0,  1,  2,  3],
       [ 2,  3,  4,  5],
       [ 4,  5,  6,  7],
       [ 6,  7,  8,  9],
       [ 8,  9, 10, 11],
       [10, 11, 12, 13]])

array([[ 0,  1,  2,  3],
       [ 2,  3,  4,  5],
       [ 4,  5,  6,  7],
       [ 6,  7,  8,  9],
       [ 8,  9, 10, 11],
       [10, 11, 12, 13]], dtype=int64)

array([[ 0,  1,  2,  3],
       [ 2,  3,  4,  5],
       [ 4,  5,  6,  7],
       [ 6,  7,  8,  9],
       [ 8,  9, 10, 11],
       [10, 11, 12, 13]], dtype=int64)

<a id = 'q36'></a>

**36. How to import only specified columns from a csv file?**

[Go back to the table of contents](#table_of_contents)

In [74]:
# input
        
# code that generates the housing_preprocessed.csv file
names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
with open("/kaggle/input/boston-house-prices/housing.csv") as f:
    data = f.read()
    nth_rows = []
    for i, rows in enumerate(data.split("\n")):
        nth_rows.append(rows)

data_ = [nth_rows[i].split() for i in range(len(nth_rows))]

df = pd.DataFrame(data_, columns=names)
df.to_csv("housing_preprocessed.csv")
del df

# use the /kaggle/input/boston-house-prices/housing_preprocessed.csv file
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

FileNotFoundError: [Errno 2] No such file or directory: '/kaggle/input/boston-house-prices/housing.csv'

In [75]:
file = "housing_preprocessed.csv"
# using index
df = pd.read_csv(file, usecols = [1, 2, 4], skipfooter=1)
df.head()
# using column names
df = pd.read_csv(file, usecols = ["CRIM", "ZN", "CHAS"])
df.head()

C:\Users\asatkut\AppData\Local\Temp\ipykernel_1424\1145302932.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(file, usecols = [1, 2, 4], skipfooter=1)

FileNotFoundError: [Errno 2] No such file or directory: 'housing_preprocessed.csv'

<a id = 'q37'></a>

**37. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.**

[Go back to the table of contents](#table_of_contents)

In [76]:
# input
# use the "housing_preprocessed.csv" file

In [77]:
df = pd.read_csv("housing_preprocessed.csv", index_col=0 ,skipfooter=1)
# number of rows and columns
df.shape

# each type of column
df.dtypes

# a more general view of the earlier code
df.info()

# how many columns under each dtype
df.get_dtype_counts()
df.dtypes.value_counts()

# all the statistics
df.describe()

C:\Users\asatkut\AppData\Local\Temp\ipykernel_1424\4281517663.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("housing_preprocessed.csv", index_col=0 ,skipfooter=1)

FileNotFoundError: [Errno 2] No such file or directory: 'housing_preprocessed.csv'

<a id = 'q38'></a>

**38. How to extract the row and column number of a particular cell with given criterion?**

[Go back to the table of contents](#table_of_contents)

In [78]:
# input
# use the "housing_preprocessed.csv" file

In [79]:
# solution 1
df = pd.read_csv("housing_preprocessed.csv", skipfooter=1, index_col=0)
# let's get the maximum value
max_tax = df["TAX"].max()
max_tax

# now let's find the column and cell that has the maximum value
df[df["TAX"] == max_tax]

# solution 2
df.loc[df["TAX"] == np.max(df["TAX"]), ["CRIM", "ZN", "TAX"]]

# solution 3
# get the row and column number
row, col = np.where(df.values == np.max(df["TAX"]))
for i, j in zip(row, col):
    print(i , j)
    
# Get the value
df.iat[row[0], col[0]]
df.iloc[row[0], col[0]]

# Alternates
df.at[row[0], 'TAX']
df.get_value(row[0], 'TAX')

# The difference between `iat` - `iloc` vs `at` - `loc` is:
# `iat` snd `iloc` accepts row and column numbers. 
# Whereas `at` and `loc` accepts index and column names.

C:\Users\asatkut\AppData\Local\Temp\ipykernel_1424\2260893053.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("housing_preprocessed.csv", skipfooter=1, index_col=0)

FileNotFoundError: [Errno 2] No such file or directory: 'housing_preprocessed.csv'

<a id = 'q39'></a>

**39. How to rename a specific columns in a dataframe?**

[Go back to the table of contents](#table_of_contents)

In [80]:
# input
# Rename the column Type as CarType in df and replace the ‘.’ in column names with ‘_’.
cars93 = pd.read_csv("../input/cars93/Cars93.csv", index_col=0)
cars93.head()

'''
Desired Output

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
        'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
        'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
        'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
        'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
        'Make'],
       dtype='object')
'''

FileNotFoundError: [Errno 2] No such file or directory: '../input/cars93/Cars93.csv'

In [81]:
# Solution 1: in 2 steps
# Step1
# first let's rename the Type to CarType
cars93 = pd.read_csv("../input/cars93/Cars93.csv", index_col=0)
cars93.rename(columns={"Type":"CarType"}, inplace = True)
cols = cars93.columns
# or
df.columns.values[2] = "CarType"
# Step2
# replace the "." with "-"
cols = list(map(lambda x: x.replace(".", "_"), cols))
cars93.columns = cols
cars93.head()

# Solution 2: working only with lists
cars93 = pd.read_csv("../input/cars93/Cars93.csv", index_col=0)
cols = cars93.columns
cols = list(map(lambda x: x.replace(".", "_"), cols))
cols[cols.index("Type")] = "CarType"
cars93.columns = cols
cars93.head()

FileNotFoundError: [Errno 2] No such file or directory: '../input/cars93/Cars93.csv'

<a id = 'q40'></a>

**40. How to check if a dataframe has any missing values?**

[Go back to the table of contents](#table_of_contents)

In [82]:
# input
df = pd.read_csv("../input/cars93/Cars93.csv")
df

FileNotFoundError: [Errno 2] No such file or directory: '../input/cars93/Cars93.csv'

In [83]:
# Solution 1
print("Our df has a total of {} null values".format(df.isnull().sum().sum()))
print()

# Solution 2
df.isnull().values.any()
print()

# Solution 3
# A more detailed one
def report_nulls(df):
    '''
    Show a fast report of the DF.
    '''
    rows = df.shape[0]
    columns = df.shape[1]
    null_cols = 0
    list_of_nulls_cols = []
    for col in list(df.columns):
        null_values_rows = df[col].isnull().sum()
        null_rows_pcn = round(((null_values_rows)/rows)*100, 2)
        col_type = df[col].dtype
        if null_values_rows > 0:
            print("The column {} has {} null values. It is {}% of total rows.".format(col, null_values_rows, null_rows_pcn))
            print("The column {} is of type {}.\n".format(col, col_type))
            null_cols += 1
            list_of_nulls_cols.append(col)
    null_cols_pcn = round((null_cols/columns)*100, 2)
    print("The DataFrame has {} columns with null values. It is {}% of total columns.".format(null_cols, null_cols_pcn))
    return list_of_nulls_cols

report_nulls(df)

Our df has a total of 0 null values

False

The DataFrame has 0 columns with null values. It is 0.0% of total columns.

[]

<a id = 'q41'></a>

**41. How to count the number of missing values in each column?**

Count the number of missing values in each column of df. Which column has the maximum number of missing values?

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.read_csv("../input/cars93/Cars93.csv")

In [ ]:
# Solution 1
df_null = pd.DataFrame(df.isnull().sum())
df_null[df_null[0] > 0][0].argmax()
df_null[df_null[0] > 0][0].idxmax()

# Solution 2
# find the total number of nulls per column
n_missings_each_col = df.apply(lambda x: x.isnull().sum())

# find the maximum nulls
n_missings_each_col.argmax()
n_missings_each_col.idxmax()

<a id = 'q42'></a>

**42. How to replace missing values of multiple numeric columns with the mean?**

Replace missing values in Luggage.room columns with their respective mean.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.read_csv("../input/cars93/Cars93.csv")

In [ ]:
# Solution 1
beg_null = df.isnull().sum().sum()
print(beg_null)
# notice that we have filtering the columns  as a list.
df[["Luggage.room"]] = df[["Luggage.room"]].apply(lambda x: x.fillna(x.mean()))
end_null = df.isnull().sum().sum()
print(end_null)

print("We have got rid of {} null values, filling them with the mean.".format(beg_null - end_null))

<a id = 'q43'></a>

**43. How to use apply function on existing columns with global variables as additional arguments?**

In df, use apply method to replace the missing values in Rear.seat.room with mean Luggage.room with median by passing an argument to the function.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.read_csv("../input/cars93/Cars93.csv")

In [ ]:
# input
df = pd.read_csv("../input/cars93/Cars93.csv")

# Solution 1
print("We have a total of {} nulls".format(df.isnull().sum().sum()))

d = {'Rear.seat.room': np.nanmean, 'Luggage.room': np.nanmedian}
df[['Rear.seat.room', 'Luggage.room']] = df[['Rear.seat.room', 'Luggage.room']].apply(lambda x, d: x.fillna(d[x.name](x)), args=(d, ))

print("We have a total of {} nulls".format(df.isnull().sum().sum()))

df["Rear.seat.room"].sum()
df["Luggage.room"].sum()


# Solution 2
# impor the df
df = pd.read_csv("../input/cars93/Cars93.csv")

# check nulls
print("We have a total of {} nulls".format(df.isnull().sum().sum()))

# define a custom function
def num_inputer(x, strategy):
    if strategy.lower() == "mean":
        x = x.fillna(value = np.nanmean(x))
    if strategy.lower() == "median":
        x = x.fillna(value = np.nanmedian(x))
    return x

# apply the custon function and using args whe can pass the strategy we want
df['Rear.seat.room'] = df[['Rear.seat.room']].apply(num_inputer, args = ["mean"])
df['Luggage.room'] = df[['Luggage.room']].apply(num_inputer, args = ["median"])

# check for nulls
print("We have a total of {} nulls".format(df.isnull().sum().sum()))

df["Rear.seat.room"].sum()
df["Luggage.room"].sum()

<a id = 'q44'></a>

**44. How to select a specific column from a dataframe as a dataframe instead of a series?**

Get the first column (a) in df as a dataframe (rather than as a Series).

[Go back to the table of contents](#table_of_contents)

In [ ]:
 # input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

In [ ]:
# Solution
# using to_frame()
type(df["a"].to_frame())
# using pandas DataFrame
type(pd.DataFrame(df["a"]))

# Other solutions
# Solution
type(df[['a']])
type(df.loc[:, ['a']])
type(df.iloc[:, [0]])

# This returns a series
# Alternately the following returns a Series
type(df.a)
type(df['a'])
type(df.loc[:, 'a'])
type(df.iloc[:, 1])

<a id = 'q45'></a>

**45. How to change the order of columns of a dataframe?**

Actually 3 questions.

1. In df, interchange columns 'a' and 'c'.

2. Create a generic function to interchange two columns, without hardcoding column names.

3. Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

In [ ]:
# Solution to question 1
# we pass a list with the custom names BUT THIS DOESN'T change in place
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df[["c", "b", "a", "d", "e"]]
df

# if we reasing that this will work
df = df[["c", "b", "a", "d", "e"]]
df

# Solution to question 2
def change_cols(df, col1, col2):
    df_columns = df.columns.to_list()
    index1 = df_columns.index(col1)
    index2 = df_columns.index(col2)
    # swaping values
    df_columns[index1], df_columns[index2] = col1, col2
    
    return df[df_columns]


df = change_cols(df, "b", "e")
df
    

# Solution to question 3
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
col_list = list(df.columns)
col_list_reversed = col_list[::-1]
col_list
col_list_reversed
# using the trick from solution 1
df = df[col_list_reversed]
df


print("Solution from the website")
print("-------------------------")
# Others solution from the website

# Input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Solution Q1
df[list('cbade')]

# Solution Q2 - No hard coding
def switch_columns(df, col1=None, col2=None):
    colnames = df.columns.tolist()
    i1, i2 = colnames.index(col1), colnames.index(col2)
    colnames[i2], colnames[i1] = colnames[i1], colnames[i2]
    return df[colnames]

df1 = switch_columns(df, 'a', 'c')

# Solution Q3
df[sorted(df.columns)]
# or
df.sort_index(axis=1, ascending=False, inplace=True)

<a id = 'q46'></a>

**46. How to set the number of rows and columns displayed in the output?**

Change the pandas display settings on printing the dataframe df it shows a maximum of 10 rows and 10 columns.


[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.read_csv("../input/cars93/Cars93.csv")

In [ ]:
# we use set_option to set the maximun rows and columns to display
pd.set_option("display.max_columns",10)
pd.set_option("display.max_rows",10)
df

<a id = 'q47'></a>

**47. How to format or suppress scientific notations in a pandas dataframe?**

Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.


[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.random.random(5)**10, columns=['random'])

'''
Desired Output
#>    random
#> 0  0.0035
#> 1  0.0000
#> 2  0.0747
#> 3  0.0000
'''

In [ ]:
print("Initial DF")
df
print("Using solution 1")
# Solution 1
df.round(4)
df
pd.reset_option('^display.', silent=True)

print("Using solution 2")
# Solution 2
df.apply(lambda x: '%.4f' %x, axis=1).to_frame()
df
pd.reset_option('^display.', silent=True)

print("Using solution 3")
# Solution 3
pd.set_option('display.float_format', lambda x: '%.4f'%x)
df
pd.reset_option('^display.', silent=True)
df

<a id = 'q48'></a>

**48. How to format all the values in a dataframe as percentages?**

Format the values in column 'random' of df as percentages.


[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.random.random(4), columns=['random'])
df

In [ ]:
# Solution 1
# Using style.format we can pass a dictionary to each column and display as we want
out = df.style.format({
    'random': '{0:.2%}'.format,
})
out

# This applies to all the df
pd.options.display.float_format = '{:,.2f}%'.format
# to get the % multiply by 100
df*100
pd.reset_option('^display.', silent=True)

<a id = 'q49'></a>

**49. How to filter every nth row in a dataframe?**

From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.read_csv("../input/cars93/Cars93.csv")
df

In [ ]:
# First let's import only the columns we need
df = pd.read_csv("../input/cars93/Cars93.csv", usecols=["Manufacturer", "Model", "Type"])

# Solution 1
# Using normal python slicing
df[::20]

df = pd.read_csv("../input/cars93/Cars93.csv", usecols=["Manufacturer", "Model", "Type"])

# Solution 2
# Using iloc
df.iloc[::20, :][['Manufacturer', 'Model', 'Type']]

<a id = 'q50'></a>

**50. How to create a primary key index by combining relevant columns?**

In df, Replace NaNs with ‘missing’ in columns 'Manufacturer', 'Model' and 'Type' and create a index as a combination of these three columns and check if the index is a primary key.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.read_csv("../input/cars93/Cars93.csv")
df

In [ ]:
# Solution
df = pd.read_csv("../input/cars93/Cars93.csv", usecols=["Manufacturer", "Model", "Type", "Min.Price", "Max.Price"])

# let's check if we have null
df.isnull().sum().sum()
df.fillna("missing")
# create new index
df["new_index"] = df["Manufacturer"] + df["Model"] + df["Type"]
# set new index
df.set_index("new_index", inplace = True)
df

<a id = 'q51'></a>

**51. How to get the row number of the nth largest value in a column?**

Find the row position of the 5th largest value of column 'a' in df.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))
df

In [ ]:
# Solution 1

# argsort give the index of the smallest to largest number in an array
# arg_sort[0] is the index of the smallest number in df["a"]
arg_sort = df["a"].argsort()

#arg_sort.to_frame()
#arg_sort[0]

# now let's sort by arg_sort
#df
df = df.iloc[arg_sort]
df["arg_sort"] = arg_sort
df
n_largest = 5
print("The {} largest values in our DF is at row/index {} and the value is {}".format(n_largest, (df[df["arg_sort"] == (n_largest-1)].index[0]), df[df["arg_sort"] == (n_largest-1)]["a"].iloc[0]))

# Shorter solution
n = 5
# select column, argsort, inders (largest to smallest) and select the n largest
df['a'].argsort()[::-1][n]

<a id = 'q52'></a>

**52. How to find the position of the nth largest value greater than a given value?**

In ser, find the position of the 2nd largest value greater than the mean.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
ser = pd.Series(np.random.randint(1, 100, 15))

In [ ]:
# Solution using argsort and boolean filtering of pandas series
# I understood that I wanted the second largest of all values that is greter than the mean
# so I sorted
#ser
sorted_ser = ser[ser.argsort()[::-1]]
#sorted_ser
sorted_ser[sorted_ser > sorted_ser.mean()].index[1]

# If you understood that the 2 value you encounter that is bigger than the mean
# This is the correct solution
print('ser: ', ser.tolist(), 'mean: ', round(ser.mean()))
np.argwhere(ser > ser.mean())[1]

# Another solution
ser[ser > ser.mean()].index[1]


<a id = 'q53'></a>

**53. How to get the last n rows of a dataframe with row sum > 100?**

Get the last two rows of df whose row sum is greater than 100.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df1 = df.copy(deep = True)

In [ ]:
# Solution 1
df["sum"] = df.sum(axis = 1)
df

print("The index of the rows that are greater than 100 are {}".format((df[df["sum"] > 100].index).to_list()[-2:]))

# Solution 2 using numpy
rowsums = df1.apply(np.sum, axis=1)

# last two rows with row sum greater than 100
last_two_rows = df1.iloc[np.where(rowsums > 100)[0][-2:], :]
last_two_rows


<a id = 'q54'></a>

**54. How to find and cap outliers from a series or dataframe column?**

Replace all values of ser in the lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
ser = pd.Series(np.logspace(-2, 2, 30))
ser1 = ser.copy(deep = True)
ser2 = ser.copy(deep = True)

In [ ]:
# Solution 1
# get the quantiles values
quantiles = np.quantile(ser, [0.05, 0.95])
ser

# filter ser using numpy to know where the values are below or greater than 5% or 95% and replace the values
ser.iloc[np.where(ser < quantiles[0])] = quantiles[0]
ser.iloc[np.where(ser > quantiles[1])] = quantiles[1]
    
# or we can just do
ser1[ser1 < quantiles[0]] = quantiles[0]
ser1[ser1 > quantiles[1]] = quantiles[1]

ser1

# Solution from the webpage
def cap_outliers(ser, low_perc, high_perc):
    low, high = ser.quantile([low_perc, high_perc])
    print(low_perc, '%ile: ', low, '|', high_perc, '%ile: ', high)
    ser[ser < low] = low
    ser[ser > high] = high
    return(ser)

capped_ser = cap_outliers(ser2, .05, .95)
ser2
capped_ser


<a id = 'q55'></a>

**55. How to reshape a dataframe to the largest possible square after removing the negative values?**

Reshape df to the largest possible square with negative values removed. Drop the smallest values if need be. 
The order of the positive numbers in the result should remain the same as the original.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))

In [ ]:
# This solution sorts the values.
# Not want we want
# my_array = np.array(df.values.reshape(-1, 1))
# my_array = my_array[my_array > 0]
# my_array.shape[0]
# lar_square = int(np.floor(my_array.shape[0]**0.5))
# arg_sort = np.argsort(my_array)[::-1]
# my_array[arg_sort][0:lar_square**2].reshape(lar_square, lar_square)


# Correct solution
my_array = np.array(df.values.reshape(-1, 1)) # convert to numpy
my_array = my_array[my_array > 0] # filter only positive values
lar_square = int(np.floor(my_array.shape[0]**0.5)) # find the largest square
arg_sort = np.argsort(my_array)[::-1][0:lar_square**2] # eliminate the smallest values that will prevent from converting to a square
my_array = np.take(my_array, sorted(arg_sort)).reshape(lar_square, lar_square) # filter the array and reshape back
my_array


# Solution from the webpage
# Step 1: remove negative values from arr
arr = df[df > 0].values.flatten()
arr_qualified = arr[~np.isnan(arr)]

# Step 2: find side-length of largest possible square
n = int(np.floor(arr_qualified.shape[0]**.5))

# Step 3: Take top n^2 items without changing positions
top_indexes = np.argsort(arr_qualified)[::-1]
output = np.take(arr_qualified, sorted(top_indexes[:n**2])).reshape(n, -1)
print(output)


<a id = 'q56'></a>

**56. How to swap two rows of a dataframe?**

Swap rows 1 and 2 in df.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.arange(25).reshape(5, -1))
df

In [ ]:
# THIS SWAPS the columns
print("Original DataFrame")
df
temp_col = df[1].copy(deep = True)
df[1], df[2] = df[2], temp_col
print("Swapped Columns DataFrame")
df

# # THIS SWAPS the rows
print("Original DataFrame")
df
temp_row = df.iloc[1].copy(deep = True)
df.iloc[1], df.iloc[2] = df.iloc[2], temp_row
print("Swapped Rows DataFrame")
df

# Solution from the webpage
def swap_rows(df, i1, i2):
    a, b = df.iloc[i1, :].copy(), df.iloc[i2, :].copy()
    df.iloc[i1, :], df.iloc[i2, :] = b, a
    return df

print(swap_rows(df, 1, 2))


<a id = 'q57'></a>

**57. How to reverse the rows of a dataframe?**

Reverse all the rows of dataframe df.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.arange(25).reshape(5, -1))

In [ ]:
# Solution 1
df
df.iloc[df.index.to_list()[::-1]]

# Solutions from the webpage
# Solution 2
df.iloc[::-1, :]

# Solution 3
print(df.loc[df.index[::-1], :])


<a id = 'q58'></a>

**58. How to create one-hot encodings of a categorical variable (dummy variables)?**

Get one-hot encodings for column 'a' in the dataframe df and append it as columns.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))

'''
Desired Output

   0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24
'''

In [ ]:
# Using pd.get_dummies
dummies = pd.get_dummies(df["a"])
df = pd.concat([dummies, df], axis = 1)
df

# Solution from the webpage
# in one line
df_onehot = pd.concat([pd.get_dummies(df['a']), df[list('bcde')]], axis=1)
df_onehot


<a id = 'q59'></a>

**59. Which column contains the highest number of row-wise maximum values?**

Obtain the column name with the highest number of row-wise maximum’s in df.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))

In [ ]:
# Solution 1
def get_col(df):
    columns = list(df.columns)
    df["col_index_with_max"] = ""
    for i in range(len(df)):
        row_values = list(df.iloc[i, :-1].values)
        max_value = np.max(row_values)
        col_index = row_values.index(max_value)
        df["col_index_with_max"].iloc[i] = col_index

get_col(df)

df
print("The col with maximum amont of maximun per row if {} with a total of {} maximus".format(df.groupby("col_index_with_max").size()[::-1].index[0], \
                                                                                              df.groupby("col_index_with_max").size()[::-1].values[0]))

# Solution 2
# Another much more elegant solution from the webpage
print('Column with highest row maxes: ', df.apply(np.argmax, axis=1).value_counts().index[0])


<a id = 'q60'></a>

**60. How to create a new column that contains the row number of nearest column by euclidean distance?**

Create a new column such that, each row contains the row number of nearest row-record by euclidean distance.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))

'''
Desired Output

df
#    p   q   r   s nearest_row   dist
# a  57  77  13  62           i  116.0
# b  68   5  92  24           a  114.0
# c  74  40  18  37           i   91.0
# d  80  17  39  60           i   89.0
# e  93  48  85  33           i   92.0
# f  69  55   8  11           g  100.0
# g  39  23  88  53           f  100.0
# h  63  28  25  61           i   88.0
# i  18   4  73   7           a  116.0
# j  79  12  45  34           a   81.0

'''

In [ ]:
#######################################################################################################################################
# Solution 1
# input
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))

# place holders
corr_list = []
index_list = []

# temporary var
max_corr = 0
current_index = ""

# nested loop to calculate
for i in range(len(df)):
    for j in range(len(df)):
        if i == j:
            pass
        else:
            # distance
            curr_corr = sum((df.iloc[i] - df.iloc[j])**2)**.5
            # correlation
            #curr_corr = df.iloc[i].corr(df.iloc[j])
            if curr_corr >= max_corr:
                max_corr = curr_corr
                current_index = list(df.index)[j]
                
    corr_list.append(max_corr)
    index_list.append(current_index)
    
    max_corr = 0
    current_index = ""
    
df["nearest_row"] = index_list
df["dist"] = corr_list
df
df.drop(["nearest_row", "dist"], axis = 1, inplace = True)

#######################################################################################################################################

# Solution from the webpage
# init outputs
nearest_rows = []
nearest_distance = []

# iterate rows.
for i, row in df.iterrows():
    curr = row
    rest = df.drop(i)
    e_dists = {}  # init dict to store euclidean dists for current row.
    # iterate rest of rows for current row
    for j, contestant in rest.iterrows():
        # compute euclidean dist and update e_dists
        e_dists.update({j: round(np.linalg.norm(curr.values - contestant.values))})
    # update nearest row to current row and the distance value
    nearest_rows.append(max(e_dists, key=e_dists.get))
    nearest_distance.append(max(e_dists.values()))

df['nearest_row'] = nearest_rows
df['dist'] = nearest_distance
df


<a id = 'q61'></a>

**61. How to know the maximum possible correlation value of each column against other columns?**

For each column get the maximum possible correlation with other columns (only 1 value)

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))

In [ ]:

# calculate the correlation, returns a matrix 
df_corr = np.abs(df.corr())
# sorted -2 because it goes from min to max
# max = 1 because it's correlation againts each other
# so we pick -2
max_corr = df_corr.apply(lambda x: sorted(x)[-2], axis = 0)
max_corr


<a id = 'q62'></a>

**62. How to create a column containing the minimum by maximum of each row?**

Compute the minimum-by-maximum for every row of df.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
df1 = df.copy(deep = True)
df2 = df.copy(deep = True)

In [ ]:
# Solution 1
df["min_by_max"] = (df.apply(min, axis = 1)/df.apply(max, axis = 1))
df

# Other solution from the webpage
# Solution 2
min_by_max = df1.apply(lambda x: np.min(x)/np.max(x), axis=1)
min_by_max
# Solution 3
min_by_max = np.min(df2, axis=1)/np.max(df2, axis=1)
min_by_max


<a id = 'q63'></a>

**63. How to create a column that contains the penultimate value in each row?**

Create a new column 'penultimate' which has the second largest value of each row of df.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

In [ ]:
# Using lambda and numpy partition
df["penultimate"] = df.apply(lambda x: np.partition(x, -2)[-2], axis = 1)
df
df.drop("penultimate", inplace = True, axis = 1)

# Using lambda and python lists
df["penultimate"] = df.apply(lambda x: sorted(list(x))[-2], axis = 1)
df
df.drop("penultimate", inplace = True, axis = 1)

# Solution from the webpage
out = df.apply(lambda x: x.sort_values().unique()[-2], axis=1)
df['penultimate'] = out
df


<a id = 'q64'></a>

**64. How to normalize all columns in a dataframe?**

1. Normalize all columns of df by subtracting the column mean and divide by standard deviation.

2. Range all columns of df such that the minimum value in each column is 0 and max is 1.

**Don’t use external packages like sklearn**

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
df1 = df.copy(deep = True)

In [ ]:
# First normalization: mean and std    
df = df.apply(lambda x: ((x-np.mean(x))/np.std(x)), axis = 0)
df

# min max
df1 = df1.apply(lambda x: ((x.max() - x)/(x.max() - x.min())).round(2))
df1


<a id = 'q65'></a>

**65. How to compute the correlation of each row with the suceeding row?**

Compute the correlation of each row of df with its succeeding row.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

In [ ]:
df["corr"] = 0
for i in range(len(df)-1):
    
    values1 = df.iloc[i, :-1].astype('float64')
    values2 = df.iloc[i+1, :-1].astype('float64')
    corr = values1.corr(values2)
    df["corr"].iloc[i] = corr
df
df.drop("corr", inplace = True, axis = 1)

# Solution from the webpage
# using list comprehension
[df.iloc[i].corr(df.iloc[i+1]).round(2) for i in range(df.shape[0])[:-1]]


<a id = 'q66'></a>

**66. How to replace both the diagonals of dataframe with 0?**

Replace both values in both diagonals of df with 0.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
df1 = df.copy(deep = True)

'''
Desired Output (might change because of randomness)

#     0   1   2   3   4   5   6   7   8   9
# 0   0  46  26  44  11  62  18  70  68   0
# 1  87   0  52  50  81  43  83  39   0  59
# 2  47  76   0  77  73   2   2   0  14  26
# 3  64  18  74   0  16  37   0   8  66  39
# 4  10  18  39  98   0   0  32   6   3  29
# 5  29  91  27  86   0   0  28  31  97  10
# 6  37  71  70   0   4  72   0  89  12  97
# 7  65  22   0  75  17  10  43   0  12  77
# 8  47   0  96  55  17  83  61  85   0  86
# 9   0  80  28  45  77  12  67  80   7   0
'''

In [ ]:
# input
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
df1 = df.copy(deep = True)

# Using nested loops
print("Original DF")
df
for i in range(len(df)):
    for j in range(len(df)):
        if i == j:
            df.iloc[i ,j] = 0
            # Inverse the matrix so that we can replace the other diagonal
            df[::-1].iloc[i, j] = 0

print("DF from the solution 1")
df

# Solution from the webpage
# Solution
for i in range(df1.shape[0]):
    df1.iat[i, i] = 0
    df1.iat[df1.shape[0]-i-1, i] = 0
    
print("DF from the solution 2")
df1

<a id = 'q67'></a>

**67. How to get the particular group of a groupby dataframe by key?**

This is a question related to understanding of grouped dataframe. From df_grouped, get the group belonging to 'apple' as a dataframe.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])

In [ ]:
# Solution 1
pd.DataFrame(df_grouped)
df_grouped.groups["apple"]
df_grouped.get_group("apple")

# Solution 2
for i, dff in df_grouped:
    if i == 'apple':
        print(dff)

<a id = 'q68'></a>

**68. How to get the n’th largest value of a column when grouped by another column?**

In df, find the second largest value of 'rating' for 'banana'

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

In [ ]:
# Solution 1
grouped_by = df["rating"].groupby(df["fruit"])
grouped_by.get_group("banana")
list(grouped_by.get_group("banana"))[1]

# Solution from the webpage
df_grpd = df['rating'].groupby(df.fruit)
df_grpd.get_group('banana')
df_grpd.get_group('banana').sort_values().iloc[-2]

<a id = 'q69'></a>

**69. How to compute grouped mean on pandas dataframe and keep the grouped column as another column (not index)?**

In df, Compute the mean price of every fruit, while keeping the fruit as another column instead of an index.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})
df

In [ ]:
# Using pandas pivot table
df_grouped = pd.pivot_table(df[["fruit", "price"]], index = ["fruit"], aggfunc = np.mean ).reset_index()
df_grouped

# using groupby
out = df.groupby('fruit', as_index=False)['price'].mean()
out

<a id = 'q70'></a>

**70. How to join two dataframes by 2 columns so they have only the common rows?**

Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})
df1
df2

In [ ]:
# Solution 1
# using pandas merge
merge_df = pd.merge(df1, df2, left_on=["fruit", "weight"], right_on=["pazham", "kilo"])
merge_df


# Solution from the webpage
pd.merge(df1, df2, how='inner', left_on=['fruit', 'weight'], right_on=['pazham', 'kilo'], suffixes=['_left', '_right'])

<a id = 'q71'></a>

**71. How to remove rows from a dataframe that are present in another dataframe?**

From df1, remove the rows that are present in df2. All three columns must be the same.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 10, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 10, 6)})

df1
df2

In [ ]:
# We might use pandas merge
#df1.merge(df2, how = "inner", left_on = ["fruit", "weight", "price"], right_on = ["pazham", "kilo", "price"])

df1["concat"] = df1["fruit"].astype(str) + df1["weight"].astype(str) + df1["price"].astype(str)
#df1

df2["concat"] = df2["pazham"].astype(str) + df2["kilo"].astype(str) + df2["price"].astype(str)
#df2

df1 = df1[~df1["concat"].isin(df2["concat"])]
df1.drop("concat", inplace = True, axis = 1)
df1

# Solution from the webpage, IMHO it's incorrect
#df1[~df1.isin(df2).all(1)]

<a id = 'q72'></a>

**72. How to get the positions where values of two columns match?**

Find the index where col fruit1 and fruit2 match

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})
df

In [ ]:
# Solution
np.where(df.fruit1 == df.fruit2)

<a id = 'q73'></a>

**73. How to create lags and leads of a column in a dataframe?**

Create two new columns in df, one of which is a lag1 (shift column a down by 1 row) of column ‘a’ and the other is a lead1 (shift column b up by 1 row).

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))
df

'''
Desired Output

    a   b   c   d  a_lag1  b_lead1
0  66  34  76  47     NaN     86.0
1  20  86  10  81    66.0     73.0
2  75  73  51  28    20.0      1.0
3   1   1   9  83    75.0     47.0
4  30  47  67   4     1.0      NaN
'''

In [ ]:
df["lag1"] = df["a"].shift(1)
df["lead1"] = df["b"].shift(-1)
df

<a id = 'q74'></a>

**74. How to get the frequency of unique values in the entire dataframe?**

Get the frequency of unique values in the entire dataframe df.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))

In [ ]:
# Solution
pd.value_counts(df.values.ravel())

<a id = 'q75'></a>

**75. How to split a text column into two separate columns?**

Split the string column in df to form a dataframe with 3 columns as shown.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

df

'''
Desired Output

0 STD        City        State
1  33     Kolkata  West Bengal
2  44     Chennai   Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka
'''

In [ ]:
# we do " ".join(x.split()) to replace multiple spaces to 1 space
# we do split(None, 2, ) to split a string on the second space ()this way we have West Bengal together
df["re"] = df["row"].apply(lambda x: " ".join(x.split()).split(None, 2, ))

new_header = df["re"][0]
values = df["re"][1:]

# our values is a series of lists, we have to do some list comprehension no extract the values
d = {new_header[0]:[int(values.iloc[i][0].replace(",", "")) for i in range(len(values))], \
     new_header[1]:[values.iloc[i][1].replace(",", "") for i in range(len(values))], \
     new_header[2]:[values.iloc[i][2].replace(",", "") for i in range(len(values))]}

# create a pandas DF from a dict
new_df = pd.DataFrame(d)
new_df

# The End
# Thank you very much!